# Gemini API
GEMINI_API_KEY=

# Firebase Client Configuration (Optional if using firebase-applet-config.json)
VITE_FIREBASE_VAPID_KEY=BBzcboGC5j37diRJVswgVzRbpNMb2Q7Dv2AwSwztpf_oq0xVd-swa0uau0mXVqLyMBoOD-HQuBxsjlDWUB7_dVU
VITE_FIREBASE_SENDER_ID=669723419322
VITE_FIREBASE_DATABASE_URL=https://agrolife-42a8b-default-rtdb.firebaseio.com/
VITE_OPENWEATHER_API_KEY=

# Firebase Admin Configuration (Required for server-side operations)
# Copy the contents of your service account JSON file here or provide the path
FIREBASE_SERVICE_ACCOUNT_JSON=
